@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800&display=swap");

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}
.bg-gradient-img {
  position: relative;
}

.bg-gradient-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(Assets/images/grad-bg.png);
  filter: blur(10px); /* Adjust the blur radius as needed */
  z-index: -1; /* Place the pseudo-element below content */
}

.bg-gradient-img {
  background-image: linear-gradient(
      to bottom,
      rgba(5, 5, 5, 1) 0%,
      rgba(14, 14, 14, 0.658) 50%,
      rgba(58, 58, 58, 0.465) 100%
    ),
    url(Assets/images/grad-bg.png);
}
/* SingleMember.css */

.hidden-details {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

.visible-details {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

/* Rest of your styles for .details-container can remain unchanged */

.relative .details-container {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  z-index: 50;
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

@layer components {
  .bg-gradient-custom {
    @apply bg-gradient-to-r from-blue-500 via-blue-700 to-blue-900;
  }
}
